#trafficlight {
  width: 300px;
  height: 800px;
  background-color: black;
  border: 2px solid black;
}
#yellow {
  background-color: yellow;
}
#green {
  background-color: green;
}
.shape-shifter {  
  width: 200px;
  height: 200px;
  border-radius:50%;
  position: relative;
  margin: 3em;
  background-color: red;
  transition: background-color 1s ease .2s;
  cursor: pointer;
  border: 2px solid black;
}
.shape-shifter:hover {
   background-color: white;
   opacity: .7;
}
.inactive {
  background-color: white;
   opacity: .7;
}