/* You should always put an empty line between css rules */
/* Consider organizing your css rules from least specific to most specific */


.wrapper {
  width: 600px;
  height: 800px;
  padding: 20px;
  background-color: pink;
}

.buttonWrapper {
  float: left;
  margin-left: 30px;
}

#trafficlight {
  width: 300px;
  height: 800px;
  background-color: #CC9900;
  border: 2px solid black;
  float: right;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.light {  
  width: 200px;
  height: 200px;
  border-radius:50%;
  margin: 3em;
  transition: background-color .5s ease .2s;
  cursor: pointer;
  border: 2px solid black;
}

.commandButton {
  width: 125px;
  height: 125px;
  margin-top: 3em;
  padding: .33em;
  left: 375px;
  border: 2px solid black;
  background-color: grey;
  line-height: 125px;
  text-align: center;
  font-size: 32px;
  cursor: pointer;
}

.light:hover {
   background-color: white;
   opacity: .7;
}

.inactive {
  background-color: white;
   opacity: .7;
}
