p {
	text-align: center;
	color: green;
}
.subtext{
	color: purple;
	font-size: 18px;
	margin-top: 10px;
    margin-right: 250px;
    margin-left: 250px;
	}
.italics{
	color: red;
	font-style: italic;
}
.header-text {
	text-align: center;
	color: black;
	font-size: 28px;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
body {
	background-color: #DEFFBD;
	font-family: Arial, Helvetica, sans-serif;
}
img {
	width: 300px;
	height: 300px;
}


table,th,td
{
border:1px solid black;
}
#photos-container {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	text-align: left; 
}
#photos-container-left {
	width: 300px;
	margin-left: auto;
	text-align: left; 
}
.subhead {
	font-size: 20px;
	color: purple;
}
.border {
	width: 100px;
    padding: 25px;
    border: 20px green;
    margin: 15px;
}