
body {
  background-color:#e2e2e2;
  font-family:'Lato', sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin: 0;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  box-sizing:border-box;
  line-height: 1.5em;
}
h2{
  font-size: 2.5em;
  font-style: bold;
  font-weight: 900;
}
h4{
  font-size: 1em;
  font-style: bold;
  font-weight: 900;
  font-family:"adobe-garamond-pro", 'Cardo', serif;
  font-style: italic;
  text-align: left !important;
  margin: 0;
  line-height: 1em !important;
}
h3{
  font-size: 1.5em;
  font-style: bold;
  font-weight: 900;
  font-family:"adobe-garamond-pro", 'Cardo', serif;
  font-style: italic;
  text-align: left !important;
  margin: 0;
  line-height: 1em !important;
}
h5{
  font-size: .75em;
  font-weight: 900;
  font-family:"adobe-garamond-pro", 'Cardo', serif;
  font-style: italic;
  margin: 0;
  line-height: 1em !important;
}
h6{
  font-size: .75em;
  font-family:'Lato', sans-serif;
  font-weight: 300;
  text-align: left!important;
  margin: 0;
  line-height: 1em !important;
}
#main-content{
  display: none;
}
/*//////THIS IS PARALLAX////*/
.parallax__layer--base {
  z-index: -1;
  position: fixed;
  width: 100%;  
}
.parallax__layer--back {
  padding-top: 65%;
}
.work__parallax__layer--back{
  padding-top: 65%;
}
/*//////THIS IS PARALLAX////*/

.link1{ 
  color:black !important;
   text-decoration: none; 
}

.link2{ 
  color:white !important;
  text-decoration: none; 
}
.headerMenu{
  width: 100%;
  display: block;
  position: absolute;
  background-color: white;
  padding-bottom: 1.5%;
  box-shadow : 0 0 .5em #888888;
}
.menu li{
  font-size: .75em;
  float: right;
  font-family:"adobe-garamond-pro", 'Cardo', serif;
  font-style: italic;
  display: inline;
  position: relative;
  margin-right: 4.125%;
  cursor: pointer;
}
.menu li:hover{
  color:#c1c1c1;
}
.mainScreen{
  width: 50%;
  max-height: 500px;
  font-size: 1em;
  margin-left: 27.08333333%;
  margin-right: 27.08333333%;
  padding-top: 20%;
  padding-bottom: 15%;
  display: block;
  position: relative;
}
.mainScreen img{
  width: 100%;
} 
.worksContainer{
  width: 100%;
  background-color: white;
  position: relative;
  display: inline-block;
  padding-top: 2%;
  box-shadow : 0 0 .5em #888888;
}
.line{
  background-image: url("../img/line_work.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
}
.worksMenu{
  margin-top: 5%;
  margin-bottom: 5%;
}
.worksMenu li{
  font-size: .8em;
  font-family:"adobe-garamond-pro", 'Cardo', serif;
  font-style: italic;
  display: inline;
  position: relative;
  margin-right: 2%;
  margin-left: 2%;
  cursor: pointer;
  margin-top: 2% !important;
}
.worksMenu li:hover{
  color:#c1c1c1;
}
#smallIcon{
  width: 10%;
  margin: auto;
}
.image{
  margin: 1.5% 1.5%;
  width: 21.875%;
  display: inline-block;
  position: relative;
  float:left;
  background-image:;
  z-index: 1;
}
.image img{
  width: 100%;
}
.worksList{
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: white;
}
.onHover{
  background-size: 100%;
  display: block;
  position: relative;
  z-index: 2;
  position: absolute;
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
  margin-top: -1%;
  visibility: hidden;
  opacity:0;
  cursor: pointer;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}
.image:hover .onHover {
  visibility: visible;
  opacity:1;    
}
#textwraper{
  padding-left: 50%;
  padding-top: 20%;
}
#hoverUniversal{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/universal_music_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverVxrsi{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/vxrsi_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverHaute{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/haute_living_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverSteve{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/seteve_madden_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverSubaru{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/subaru_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverTigres{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/tigres_fc_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverBigdrop{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/bigdrop_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverTeather{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/teather_posters_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverUniversal{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/universal_music_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
#hoverBranding{
  background-image: url("../img/tumbnails/hover/hover_base.png"), url("../img/tumbnails/hover/branding_hover.png");
  background-repeat: no-repeat;
  background-position:center;
  background-size: 100%;
}
.aboutContainer{
  width: 100%;
  background-color:#e7e7e7; 
  position: relative;
  margin-top: -1%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.aboutmeLine{
  background-image: url("../img/line_about.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
}
#myPic{
  margin-left: 2%; 
  margin-top: 5%;
  margin-bottom: 8%;
  width: 45.833333333%;
  position: relative;
  float: left;
  overflow: hidden;
}
#myPic img{
  width: 70%;
}
#myInfo{
  margin-left: -15%;
  margin-right: 10%;
  margin-top: 5%;
  width: 45.833333333%;
  position: relative;
  float: right;
  margin-bottom: 8%;
}
#myInfo p{
  text-align: left;
}
#clients{
  clear: both;
}
#clients p{
  font-size: .8em;
}
.clientsLine{
  background-image: url("../img/line_clients.svg");
  background-repeat: no-repeat;
  background-position:center;
  background-size:contain;
}
#clientIcons img{
  display:inline-block;
  margin: 0 auto 0 auto; 
  text-align: center;
  padding: 2%;
}
.footer{
  color: white;
  width: 100%;
  background-color:#404040;
  position: relative;
  display: inline-block;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: -2%;
}
#logo{
  width: 45.833333%;
  margin-left: 4%;
  position: relative;
  display: inline-block;
  float: left;
  text-align: left;
}
#logo img{
  min-width: 40%;
  margin-bottom: 5%;
}
#logo h6{
  line-height: .7em !important;
}
#contact{
  width: 21.875%;
  display: inline-block;
  position: relative;
  text-align: left;
  margin-left: -10%;
}
#contact h5{
  margin-bottom: 5% !important;
}
#contact h6{
  line-height: 1.5em !important;
}    
#socials{
  width: 21.875%;
  display: inline-block;
  position: relative;
  float: right;
  text-align: left;
  margin-right: 5%;
}
#socials h5{
  margin-bottom: 5% !important;
}
#socials h6{
  line-height: 1.5em !important;
}
#socials img{
  width:10%; 
  margin-right:  4%;
  margin-top: 4%;
  cursor: pointer;
}  
/*//This is works pages section//*/
#logoHeader{
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 5%;
  padding-top: 1.5%;
  cursor: pointer;
}
#logoHeader img{
  width: 180%;
  cursor: pointer;
}
.imagesSection{
  width: 100%;
  display: inline-block;
  background-color: white;
  padding-bottom: 10%;
}
#largeImage img{
  width: 100%;
  display: inline;
  position: relative;
  margin: 0, 3%; 
}
#smallImageLeft {
  width: 48.95833333%;
  display: inline-block;
  position: relative;
  float: left;
  margin:.5%;
}
#smallImageLeft img{
  width: 100%;
}
#smallImageRight {
  width: 48.95833333%;
  display: inline-block;
  position: relative;
  float: right;
  margin:.5%;
}
#smallImageRight img{
    width: 100%;
}
.project{
  width: 100%;
  padding-top: 15%;
  margin-bottom: 8%;
  display: inline-block;
}
#projectName{
  margin-left: 2%; 
  margin-top: 5%;
  margin-bottom: 3%;
  width: 45.833333333%;
  padding-bottom: 5%;
  position: relative;
  float: left;
}
#projectName h2{
  font-size: 3em !important;
  text-align: left;
  margin: 4%;
  padding-bottom: 2%;
  line-height: 1em;
  padding-right: 8%;
}
#projectName h5{
  font-size: 1.5em !important;
  text-align: left;
  margin-left: 4%;
  margin-right: 8%;
  line-height: 1.5em !important;
  padding-right: 8%;
}
#projectName hr{
 width: 80%;
 float: left !important;
 position: relative;
}
#projectInfo{
 margin-left: -15%;
 margin-right: 10%;
 margin-top: 6%;
 width: 45.833333333%;
 position: relative;
 float: right;
}
#projectInfo p{
  text-align: left;
}

@media (max-width: 730px) {

  .headerMenu{
    width: 100%;
  }
  .parallax__layer--back {
    padding-top: 80%;
  }
  .line{
    background-image: url("../img/line_work_730px.svg");
  }
  .image{
    margin: 1.5% 1.5%;
    width: 29.166666666667%;
  }
  .aboutmeLine{
    background-image: url("../img/line_about_730px.svg");

  }
  #clients p{
  padding: 0 10%;
  } 
  .work__parallax__layer--back{
    padding-top: 90%;
  }
}
@media (max-width: 589px) {
  .parallax__layer--back {
    padding-top: 100%;
  }
  .image{
    margin: 1.5% 1.5%;
    width: 45.83333333333%;
  }
  #clientIcons {
    width: 60%;
    margin: auto;
  }
  .work__parallax__layer--back{
    padding-top: 130%;
  }
  #projectName{
    margin-left: 2%; 
    margin-top: 5%;
    width: 100%;
    margin-bottom: 0 !important; 

  }
  #projectInfo{
    margin-left: 6% !important;
    margin-top: 0 !important; 
    width: 100%;
    position: relative;
    float: left !important;
  }
  #projectInfo p{
    padding-right: 10% !important;
  }
  #smallImageLeft {
    width: 100%;
    float: left !important;
  }
  #smallImageRight {
  width: 100%;
  float: left !important; 
  }
  #logo{
    width: 100%;
    float: left !important; 
    margin-left: 5% !important; 
  }
  #logo img{
    width: 50%;
    margin-bottom:2%;
  }
  #logo h6{
    line-height: .7em !important;
    margin-bottom: 0 !important;
  }
  #contact{
    width: 100%;
    float: left !important;
    margin-left: 5% !important;  
    margin-top:  5% !important;
    line-height: .2em !important;
    margin-bottom: 0 !important;
  }
  #contact h5{
    margin-bottom: 0 !important;
  } 
  #socials{
    width: 100%;
    float: left !important;
    margin-left: 5% !important;
    margin-top:  5% !important;
  }
  #socials h5{
    margin-bottom: 0 !important;
  }
  #socials img{
    width:5%; 
    margin-right:  2%;
    margin-top: 2%;
  }  
  } 

@media (max-width: 400px) {
  body {
    font-size: 1.1em;
  }
  .parallax__layer--back {
    padding-top: 120%;
  }
  .work__parallax__layer--back{
    padding-top: 190% !important;
    }
  .image{
    margin: 1.5% 1.5%;
    width: 100%;
    position: relative;
  }
  .menu {
    margin: 0;
    padding-top: 4%;
    padding-left: 0;
    position: relative;
  }
  .menu li{
    font-size: 1.5em;
    margin-right: 8%;
    padding-bottom: 4%;
    padding-top: 3%;
    float: none;
  }
  .mainScreen{
    width: 80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    padding-top: 25%;
  }
  .line{
    background-image: none;
  }
  .worksMenu{
    margin-top: 3%;
    margin-bottom: 3%;
    padding: 0;
  }
  .worksMenu li{
    font-size: 1.3em;
    cursor: pointer;
    margin: 1.5% !important;
    display: block;
  }
  .aboutContainer{
    width: 100%;
    background-color:#e7e7e7; 
    position: relative;
    margin-top: -1%;
    padding-bottom: 5%;
    padding-top: 5%;
  }
  .aboutmeLine{
      background-image: none;
  }
  #myPic{
    width: 100%;
  }
  #myInfo{
    width: 100%;
    margin: 0 7% !important;
    margin-top: 5%;
    float: left;
    margin-bottom: 5% !important;
  }
  #myInfo p{
    padding-right: 10%;
  }
  .clientsLine{
      background-image: none;
  }
  #clients p{
    font-size: 1em;
  }
  #clientIcons img{
    margin: 2% 3%; 
  }
  #contact{
    width: 100%;
    padding-right: 10%;
  }
  #contact h6{
      padding-right: 12%;
  } 
  #socials h6{
    padding-right: 12% !important;
  }
  #logoHeader{
   display: none;
  }
  .project{
    padding-top: 15%;
  }
  #projectName{
    width: 100%;
  }
  #projectName h2{
    margin-bottom: 0;
  }
  #projectName h5{
    font-size: 1em !important;
  }
  #projectInfo{
   width: 100%;
   position: relative;
   float: right;
  }
  #projectInfo p{
    text-align: left;
    margin: 1%;
  }

}