body {
  margin-left: 1em;
  margin-right: 1em;
  font-family: 'lato', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #000000;
  max-width: 800px;
  margin: 0 auto;
}
h2 {
  margin-top: .5em;
  margin-bottom: .5em;
  font-weight: 200;
}
h3 {
  margin-top: .5em;
  margin-bottom: 1.2em;
  font-weight: 300;
  font-size: 1.1em;
  line-height: 1.1em;
}
/*<!--This is a comment. I wanted to place with nav a and hover to see the results :)--> */
/* Comments in css are wrapped between slash asterisks like this one. 
 * Most modern browsers will (probably) understand what you're trying 
 * to do and won't break your page. */

nav a:last-child {
  background-color: green;
}

#headerNav a:hover {
  color: #f30000;
}

#title {
  color: #f30000;
  font-size: 2.5em;
  font-weight: 200;
}
#headerNav a {
    color: #dddddd;
    font-size: 1em;
    margin-right: 1.1em;
    text-decoration: none;
    padding-bottom: .11em;
    border-bottom: .1em solid grey;
  }
#footerNav a {
    margin-top: 2em;
    color: red;
    font-size: .8em;
    margin-right: .2em;
    text-decoration: none;
    padding-bottom: .11em;
}

.fadedHeadline {
  padding-top: 2.5em;
  color: #dddddd;
  margin-bottom: 1.5em;
}
.center {
  margin: 0 auto;
}

.mainContent {
    font-size: .8em;
    padding-top: 1.5em;
    line-height: 1.5em;
  }
.dropCaps {
  float: left;
  color: #dddddd;
  font-size: 6em;
  padding: .3em .15em .25em 0;
}
.clear {
    clear: both;
    }
.continueText {
  margin-bottom: 2em;
  margin-top: 2.5em;
  font-size: 1.2em;
  color: #f30000;
  font-weight: bold;
  float: right;
}
/* It's overkill to specify the class and the element, unless there are other elements with that class on the page as well. I didn't see the 'style-one' class being used in your markup. */
hr.style-one {
    border: 0;
    height: 1px;
  }
.pageDivider {
      border-bottom: .1em solid grey;
}
/* } */
/* Extra } on the line above. */
.heroImage {
  height: auto; /* This will adjust the height automatically, so the picture's proportions/aspect-ratio remains correct */
  width: 100%;
}

/* You forgot to include a selector here
  display:inline-block;
  transform:scale(1,2); /* W3C */
 /* -webkit-transform:scale(1,2); /* Safari and Chrome */
 /* -moz-transform:scale(1,2); /* Firefox */ 
 /* -ms-transform:scale(1,2); /* IE 9 */
 /* -o-transform:scale(1,2); /* Opera */

.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
 }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */
